<h1>Nova categoria</h1>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="post">
            <label for="nome">nome: </label>
            <input type="text" name="nome" id="nome" placeholder="nome da categoria" class="form-control">
            <label for="slug">slug: </label>
            <input type="text" name="slug" id="slug" placeholder="slug da categoria" class="form-control"> <br>

            <button class="btn btn-success" type="submit">criar categoria</button>
        </form>
    </div>
</div>