<div class="card">
    <div class="card-body">
        <h1>{{postagens.titulo}}</h1>

        <hr>

        <small>Data de publicação {{#formatDate}} {{postagens.data}} {{/formatDate}}</small> <br>

        <p class="mt-4">Conteudo: {{postagens.conteudo}}</p>
    </div>
</div>